{% extends "layouts/base.html" %} 

{% block content %}

<section class="header">
	<h1>V&A Posters</h1> 
	<p>A gallery of {{objs.length}} historic Victoria and Albert museum posters.</p>
</section>

<div class="row">
<ul class="nav column">
	<li><a href="#1910s" class="nav-item">1910</a></li>
	<li><a href="#1920s" class="nav-item">1920</a></li>
	<li><a href="#1930s" class="nav-item">1930</a></li>
	<li><a href="#1940s" class="nav-item">1940</a></li>
	<li><a href="#1950s" class="nav-item">1950</a></li>
	<li><a href="#1960s" class="nav-item">1960</a></li>				
	<li><a href="#1970s" class="nav-item">1970</a></li>				
	<li><a href="#1980s" class="nav-item">1980</a></li>				
</ul>

{% if objs.length %}
<section class="poster-feed column">
      <ul class="studio-feed__list">
        
        <h2 id="1910s">1910</h2>
        {% for item in objs %}
        	{% if (item._primaryDate > 1910) and (item._primaryDate < 1920) %}
        		{% include "partials/item-poster.html" %}
			{% endif %}
        {% endfor %}

        <h2 id="1920s">1920</h2>
        {% for item in objs %}
        	{% if (item._primaryDate > 1920) and (item._primaryDate < 1930) %}
        		{% include "partials/item-poster.html" %}
			{% endif %}
        {% endfor %}

        <h2 id="1930s">1930</h2>
        {% for item in objs %}
        	{% if (item._primaryDate > 1930) and (item._primaryDate < 1940) %}
        		{% include "partials/item-poster.html" %}
			{% endif %}
        {% endfor %}

        <h2 id="1940s">1940</h2>
        {% for item in objs %}
        	{% if (item._primaryDate > 1940) and (item._primaryDate < 1950) %}
        		{% include "partials/item-poster.html" %}
			{% endif %}
        {% endfor %}

        <h2 id="1950s">1950</h2>
        {% for item in objs %}
        	{% if (item._primaryDate > 1950) and (item._primaryDate < 1960) %}
        		{% include "partials/item-poster.html" %}
			{% endif %}
        {% endfor %}

        <h2 id="1960s">1960</h2>
        {% for item in objs %}
        	{% if (item._primaryDate > 1960) and (item._primaryDate < 1970) %}
        		{% include "partials/item-poster.html" %}
			{% endif %}
        {% endfor %}

        <h2 id="1970s">1970</h2>
        {% for item in objs %}
        	{% if (item._primaryDate > 1970) and (item._primaryDate < 1980) %}
        		{% include "partials/item-poster.html" %}
			{% endif %}
        {% endfor %}

        <h2 id="1980s">1980</h2>
        {% for item in objs %}
        	{% if (item._primaryDate > 1980) and (item._primaryDate < 1990) %}
        		{% include "partials/item-poster.html" %}
			{% endif %}
        {% endfor %}

      </ul>
{% endif %}
</section>
</div>

{% endblock %}



