{% extends "layouts/base.html" %} 

{% block content %}

<p>V&A Posters</p> 
<p>Total:{{objs.length}}</p>

{% if objs.length %}
<article class="[ studio-feed ] [ dot-shadow panel ] [ bg-tertiary-glare ]">
      <ul class="studio-feed__list">
        {% for item in objs %}
        	
        	{% if (item._primaryDate > 1910) and (item._primaryDate < 1920) %}
        		{% include "partials/item-poster.html" %}
			{% endif %}

        	{% if (item._primaryDate > 1920) and (item._primaryDate < 1930) %}
        		{% include "partials/item-poster.html" %}
			{% endif %}

        	{% if (item._primaryDate > 1930) and (item._primaryDate < 1940) %}
        		{% include "partials/item-poster.html" %}
			{% endif %}

        	{% if (item._primaryDate > 1940) and (item._primaryDate < 1950) %}
        		{% include "partials/item-poster.html" %}
			{% endif %}

        	{% if (item._primaryDate > 1950) and (item._primaryDate < 1960) %}
        		{% include "partials/item-poster.html" %}
			{% endif %}

        	{% if (item._primaryDate > 1960) and (item._primaryDate < 1970) %}
        		{% include "partials/item-poster.html" %}
			{% endif %}

        	{% if (item._primaryDate > 1970) and (item._primaryDate < 1980) %}
        		{% include "partials/item-poster.html" %}
			{% endif %}

        	{% if (item._primaryDate > 1980) and (item._primaryDate < 1990) %}
        		{% include "partials/item-poster.html" %}
			{% endif %}

        {% endfor %}
      </ul>
{% endif %}

{% endblock %}



